.list-container{
    margin: 0 20%;

    .list-header{
        background-color: #2196f38f;
        padding: 0 20px;
        display: flex;
        align-content: center;
        border: 1px solid #03a9f442;
        justify-content: space-between;
    }

    .list-item{
        display: flex;
        align-content: center;
        border: 1px solid #03a9f442;
        justify-content: space-between;
        padding: 20px;
        background-color: aliceblue;
        margin-top: 5px;

        &-left{
           // width: 40%;
            p{
                margin: 0;
                display: flex;

            }

            .desc{
                font-size:12px;
                color:grey;
            }
        }
    }
}